/* CSS Reset  */
* {
    margin: 0px;
    padding: 0px;

}

/* CSS Variables  */
:root {
    --navbar-heigth: 59px;
}

/* Navbar  */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

/* #navbar {
    position: relative;
} */

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}

/* Navigation Bar logo and image  */
#logo {
    margin: 10px 10px;
}

#logo img {
    margin: 22px 20px;
    height: 100px;
    width: 100px;
}

/* Navigation Bar : List styling  */


#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;

}

#navbar ul li a {
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}

/* Home section  */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 700px;
}

#home::before {
    content: "";
    background: url('bg-5.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    /* font-family: 'Alkatra';/ */
    font-family: 'Kanit', sans-serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    /* font-family: 'Alkatra'; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Kanit', sans-serif;
}

/* utitlity class  */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Kanit', sans-serif;
}

.h-secondary {
    font-size: 2.2rem;
    padding: 12px;
    font-family: 'Kanit', sans-serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}

/* Services section  */

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 10px 8px;
    border-radius: 23px;
    background-color: rgb(228, 213, 213);
    margin-bottom: 20px   ;
}

#services .box img {
    height: 150px;
    display: block;
    margin: auto;
}

#services .box p {
    font-family: 'Kanit', sans-serif;

}

/* Clients Section  */
#client-section {
    height: 344px;
position: relative;
}
#client-section::before {
   content: "";
   position: absolute;
   background: url(bg-2.jpg);
   width: 100%;
   height: 100%;
   z-index: -2;
   opacity: 0.8;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 124px;
    
}
.client-item{
padding: 50px;
}

/* Contact Section  */

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(bg-5.jpg) no-repeat center center ;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 23px ;
    border-radius: 10px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
   font-size: 1.3rem;
   font-family: 'Kanit', sans-serif;
} 

/* Footer  */
footer{
    background: black;
    color: white;
    padding: 9px 20px ;
}